* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
      padding-top: 70px;
}

/* HERO (IMAGEM DE FUNDO) */
.hero {
    height: 100vh;
    background: url("imagens/plano-de-fundo.png");
    background-size: cover;
    background-position: center;
}

/* CAMADA ESCURA */
.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

/* TOPO (LOGO + MENU) */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  position: fixed;
  top: 0;
  width: 100%;
  heigth: 80%;
  background: #111;
  z-index: 1000;
}

.logo {
    width: 75px;
    heigth: 75px;
    border-radius: 50%;
}

/* MENU */
nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  padding: 15px 20px;
  font-size: 16px;
}

/* TEXTO CENTRAL */
.text-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-box h1 {
    font-size: 50px;
}

.text-box p {
    font-size: 20px;
    margin-top: 10px;
}

/* SEÇÃO ABAIXO */
.sobre {
    padding: 80px 20px;
    background: #111;
    color: white;
    text-align: center;
}

.sobre h2 {
    font-size: 35px;
    margin-bottom: 15px;
}
.sobre p{
 font-size: larger;
}
section {
    scroll-margin-top: 80px;
}
.redes-contato {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.redes-contato img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.redes-contato img:hover {
  transform: scale(1.1);
}
/* BOTÃO HERO */
.text-box button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background: purple;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

/* DIFERENCIAIS */
.diferenciais {
    padding: 80px 20px;
    background: #111;
    text-align: center;
}

.diferenciais h2 {
    margin-bottom: 20px;
    color: white;
}

.diferenciais p {
    margin: 10px 0;
    font-size: 18px;
    color: white;
}


/* CTA FINAL */
.cta {
    padding: 80px 20px;
    background: #111;
    text-align: center;
}
.cta h2{
    color: white;
}

.cta button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background: purple;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
/* MODAL LOGIN */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 2000;
}

/* CAIXA */
.modal-content {
  background: #111;
  color: white;
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* INPUTS */
.modal-content input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* BOTÃO */
.modal-content button {
  width: 100%;
  padding: 10px;
  background: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FECHAR */
.fechar {
  float: right;
  cursor: pointer;
  font-size: 18px;
}
.troca {
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

.troca:hover {
  color: white;
}

@media (max-width: 768px) {

  .hero {
    height: auto;
    padding: 120px 20px 80px;
  }

  .text-box h1 {
    font-size: 32px;
  }

  .text-box p {
    font-size: 18px;
  }

  .text-box button {
    width: 100%;
    height: 55px;
    font-size: 18px;
  }

  .sobre,
  .diferenciais,
  .cta {
    padding: 80px 25px;
  }

  .sobre h2,
  .diferenciais h2,
  .cta h2 {
    font-size: 26px;
  }

  .sobre p,
  .diferenciais p {
    font-size: 16px;
  }

}
